<% obj.each do |recipe| %>
	<div class = "row">
		<div class='offset-md-2 col-md-2'>
			<a href=<%= chef_path(recipe.chef) %>>
				<%= gravitar_for recipe.chef, size: 80 %>
			</a>
		</div>
		<div class = 'col-md-8 well'>
			<h4><%= link_to recipe.name, recipe_path(recipe) %></h4>
			<p><%= truncate(recipe.description, length: 150) %></p>
			<p>
				<small class='quiet'>Created <%=  time_ago_in_words(recipe.created_at)%> ago</small>
			</p>
		</div>
	</div>
<% end %>
