<%= render 'shared/page_title', title: @recipe.name %>
<div class="well col-md-8 col-md-offset-2">
	<h4 class="center description"><string>Steps</strong></h4>
	<hr />
	<%=simple_format(@recipe.description) %>
	<br />
	<div class="pull-right">
		<p class="center">
			<em>Created By:</em>
		</p>
		<p class="center">
			<%= link_to gravitar_for(@recipe.chef), recipes_path %>
		</p>
		<p class="center">
			<small><%= @recipe.chef.chefname.capitalize %><small> 
			<div class="pull-right"><%= time_ago_in_words(@recipe.created_at) %> ago</div>
		</p>
	</div>
	<p>
		 Created by:
	</p>
	<p>
		<small>	<%= @recipe.chef.chefname %> </small>
		<div class="pull-right">created: <%=time_ago_in_words(@recipe.created_at) %> ago</div>
	</p>
</div>
